@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.parent{
    background: #FFFCF5;
}
.part1{
    background-image: url(./bg.svg);
    display: flex;
    flex-direction: column;
    height: 716px;
    width: 1440px;
    background-image: url(./images/pngwing\ 2.png),url(./images/bg.svg);
    fill: linear-gradient(178deg, #FFFBF0 4.22%, #F7E6CC 98.53%);
    filter: drop-shadow(0px 5px 26px #DD8762);
    margin: auto;
}
.header{
    display: flex;
    justify-content: center; 
    flex-shrink: 0;
    fill: linear-gradient(178deg, #FFFBF0 4.22%, #F7E6CC 98.53%);
    filter: drop-shadow(0px 5px 26px #DD8762);
    margin-top: 33px;

}
.head1{
    display: flex;
    
}
.head2{
    display:flex ;
    justify-content: center;
    gap: 27px;
    margin-left: 118px;
    color: #000;
    font-family: Poppins;
    font-size: 13.714px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.body{
    background-image:url
}
.icon{
    width: 27.102px;
    height: 25.47px;
    flex-shrink: 0;
    margin-top: 10px;

}
.head2 span{
    border-radius: 5px;
    border: 3px solid #FE9563;
    width: 118px;
    height: 31px;
    flex-shrink: 0;
    padding: 5px;
}
.parent h1{
    margin-left: 224px;
    margin-top: 160px;
}
.HC1 p{
    width: 449px;
    color: #535359;
    font-family: Poppins;
    font-size: 16.665px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.687%; /* 24.446px */
    letter-spacing: 0.5px;
    margin-left: 224px;
}
.HC1 h1{
    color: #455A64;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%; /* 52.92px */
}
.HC2{
    margin-left: 224px;
    display: flex;
    align-items: center;
}
.LMimg{
    margin-left: 10px;
    margin-right: 6px;
}
.HC2 p{
    display: inline-flex;
    padding: 9px 25px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: #455A64;
    color: #F3FCFF;
    font-family: Poppins;
    font-size: 14.129px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.687%; /* 20.725px */

}
.HC2 span{
    color: #455A64;
    font-family: Poppins;
    font-size: 14.129px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.687%; /* 20.725px */
}
.parent2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.groupimg{
    margin-top: 84px;
}
.HC3{
    margin-left: 224px;
}
.HC3 span{
    color: #FE9C69;
    width: 2px;
    height: 14px;
    flex-shrink: 0;
}
.HC3 p{
    color: #455A64;
    font-family: Poppins;
    font-size: 12.462px;
    font-style: normal;
    font-weight: 700;
    line-height: 187.76%; /* 23.399px */
}
.f1{
    display: flex;
    flex-direction: column;
    width: 363px;
    height: 279.836px;
    flex-shrink: 0;
    border-radius: 44px;
    background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    box-shadow: 5px 5px 13px 0px #DD8762;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.features p{
    width: 278px;
}
.features span{
    color: #37474F;
    font-family: Roboto;
    font-size: 17.864px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.687%; /* 26.204px */
}
.f2{
    display: flex;
    flex-direction: column;
    width: 363px;
    height: 279.836px;
    flex-shrink: 0;
    border-radius: 44px;
    background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    box-shadow: 5px 5px 13px 0px #DD8762;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.f3{
    display: flex;
    flex-direction: column;
    width: 363px;
    height: 279.836px;
    flex-shrink: 0;
    border-radius: 44px;
    background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    box-shadow: 5px 5px 13px 0px #DD8762;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.features .fimg{
    width: 76px;
    height: 76px;
    flex-shrink: 0;
}
.features{
    display: flex;
    margin-top: 84px;
    margin-left: 114px;
    gap: 62px;
}
.part3{
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
}
.p3img{
    width: 514.247px;
    height: 449.448px;
    flex-shrink: 0;
}
.p3of2 h5{
    color: #455A64;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%; /* 52.92px */
    width: 427.5px;
    height: 106px;
    margin-bottom: 0px;
}
.p3of2 p{
    color: #535359;
    font-family: Poppins;
    font-size: 16.67px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 24.705px */
    letter-spacing: 0.5px;
    width: 457px;
    margin-top: 17px;
}
.p4of1of1{
    display: flex;
    align-items: center;
}
.p4of1of2{
    display: flex;
}
.p4of1of3{
    display: flex;
}
.p4i2{
    width: 57px;
    height: 57px;
    flex-shrink: 0;
}
.p4i3{
    width: 57px;
    height: 57px;
    flex-shrink: 0;
}
.p4of1 h5{
    color: #37474F;
    font-family: Poppins;
    font-size: 17.359px;
    font-style: normal;
    font-weight: 700;
    line-height: 148.2%; /* 25.726px */
    margin-bottom: 0px;
}
.p4of1 p{
    color: #535359;
    font-family: Poppins;
    font-size: 16.67px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 24.705px */
    letter-spacing: 0.5px;
    width: 319px;
}
.part4{
    width: 1213px;
    height: 791px;
    flex-shrink: 0;
    border-radius: 48.742px;
    background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    box-shadow: 5.539px 5.539px 28.802px 0px #DD8762;
    margin: auto;
    display: flex;
    margin-top: 130px;
}
.p4of1{
    margin-left: 91px;
}
.part5 h5{
    width: 627px;
    height: 58px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}
.part5 p{
    color: #393939;
    text-align: center;
    font-family: Roboto;
    font-size: 16.67px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 24.705px */
    letter-spacing: 0.5px;
    width: 601px;
}
.part5{
    margin-top: 115px;
    width: 627px;
    height: 123px;
    flex-shrink: 0;
    margin: auto;
    }
.part6{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 167px;
}
.p6gimg{
    width: 501.419px;
    height: 515.9px;
    flex-shrink: 0;
}
.p6of1 h5{
    color: #000;
    font-family: Poppins;
    font-size: 19.705px;
    font-style: normal;
    font-weight: 700;
    line-height: 148.2%; /* 29.203px */
    letter-spacing: 0.591px;
}
.p6of1 p{
    color: #393939;
    font-family: Poppins;
    font-size: 14.736px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 21.838px */
    letter-spacing: 0.442px;
    width: 468.261px;
    margin-top: 0px;
}
.p6of1 h6{
    width: 435px;
    height: 45px;
    flex-shrink: 0;
    color: #393939;
    font-family: Poppins;
    font-size: 14.736px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 21.838px */
    letter-spacing: 0.442px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.appstore{
    width: 131px;
    height: 41px;
    flex-shrink: 0;
}
.playstore{
    width: 131px;
    height: 41px;
    flex-shrink: 0;
}
.p6of2{
    margin-top: 44px;
}
.part7{
    display: flex;
    width: 1213px;
    height: 791px;
    flex-shrink: 0;
    border-radius: 48.742px;
    background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    box-shadow: 5.539px 5.539px 28.802px 0px #DD8762;
    margin: auto;
    margin-top: 115px;
}
.p7of1{
    margin-left: 88px;
    margin-top: 191px;
    margin-bottom: 191px;
}
.p7of1 h6{
    width: 459px;
    color: #000;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%; /* 52.92px */
    margin-top: 0px;
    margin-bottom: 0px;
}
.p7of1 p{
    width: 395px;
    color: #393939;
    font-family: Roboto;
    font-size: 16.67px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 24.705px */
    letter-spacing: 0.5px;
}
.p7a1{
    margin-top: 19px;
    display: flex;
    width: 299px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.09);

}
.p7a2{
    margin-top: 23px;
    display: flex;
    width: 299px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 9px 17px 0px rgba(0, 0, 0, 0.09);
}
.p7a1 h6{
    color: #000;
    font-family: Roboto;
    font-size: 14.736px;
    font-style: normal;
    font-weight: 500;
    line-height: 153.2%; /* 22.575px */
}
.p7a2 h6{
    color: #000;
    font-family: Roboto;
    font-size: 14.736px;
    font-style: normal;
    font-weight: 500;
    line-height: 153.2%; /* 22.575px */
}
.p7a1 h5{
    margin-bottom: 0px;
    color: #000;
    font-family: Roboto;
    font-size: 15.725px;
    font-style: normal;
    font-weight: 700;
    line-height: 153.2%; /* 24.09px */
}
.p7a2 h5{
    margin-bottom: 0px;
    color: #000;
    font-family: Roboto;
    font-size: 15.725px;
    font-style: normal;
    font-weight: 700;
    line-height: 153.2%; /* 24.09px */
}
.p7icon{
    width: 33px;
    height: 33px;
    flex-shrink: 0;
    border-radius: 8px;
    margin: 20px 16px;
}
.p7img{
    margin-left: 85px;
    margin-top: 115px;
}
.part8{
    display: flex;
    gap: 114px;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
}
.p8img{
    border-radius: 10px;
}
.p8of2 h5{
    width: 459px;
    height: 103px;
    flex-shrink: 0;
    color: #353642;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%; /* 52.92px */
}
.p8of2 p{
    width: 449px;
    color: #393939;
    font-family: Roboto;
    font-size: 16.67px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 24.705px */
    letter-spacing: 0.5px;
}
.p8a1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.p8a1 h5{
    color: #F3FCFF;
    font-family: Roboto;
    font-size: 14.129px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.687%; /* 20.725px */
    width: 160px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FE9868;
    text-align: center;
    align-content: center;
    /* padding: 9px 34px 10px 35px; */
    
}
.p8a1 h6{
    color: #000;
    font-family: Roboto;
    font-size: 14.129px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.687%; /* 20.725px */
    padding: 9px 34px 10px 35px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #FE9868;
}
.part9{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.part9 h5{
    width: 566px;
    height: 57px;
    flex-shrink: 0;
    color: #000;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}
.part9 p{
    width: 601px;
    color: #393939;
    text-align: center;
    font-family: Roboto;
    font-size: 16.67px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 24.705px */
    letter-spacing: 0.5px;
}
.part10{
    display: flex;
    gap: 62px;
    justify-content: center;
    margin-top: 74px;
}
.p10a1{
    width: 363px;
    height: 279.836px;
    flex-shrink: 0;
    border-radius: 44px;
    background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    box-shadow: 5.619px 5.619px 9.74px 0px #DD8762;
    align-content: center;
    text-align: center;
}
.p10a2{
    width: 363px;
    height: 279.836px;
    flex-shrink: 0;
    border-radius: 44px;
    background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    box-shadow: 5.619px 5.619px 9.74px 0px #DD8762;
    align-content: center;
    text-align: center;
}
.p10a3{
    width: 363px;
    height: 279.836px;
    flex-shrink: 0;
    border-radius: 44px;
    background: linear-gradient(300deg, #F5F2EB 1.26%, #F7E6CB 100.49%);
    box-shadow: 5.619px 5.619px 9.74px 0px #DD8762;
    align-content: center;
    text-align: center;
}
.part10 h5{
    color: #000;
    font-family: Roboto;
    font-size: 17.864px;
    font-style: normal;
    font-weight: 700;
    line-height: 146.687%; /* 26.204px */
    letter-spacing: 0.179px;
    margin-bottom: 0px;
    margin-top: 27px;
}
.part10 p{
    width: 290px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 14.57px;
    font-style: normal;
    font-weight: 500;
    line-height: 161.2%; /* 23.487px */
    margin-left: 36px;
    margin-top: 0px;
}
.part11{
    display: flex;
    width: 1246px;
    height: 575px;
    flex-shrink: 0;
    border-radius: 44px;
    background: linear-gradient(102deg, #F7E6CB 0%, #F5F2EB 100%);
    box-shadow: 5.54px 5.54px 28.8px 0px #DD8762;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: auto;
    margin-top: 86px;
}
.part11 h5{
    width: 459px;
    color: #424242;
    font-family: Poppins;
    font-size: 38.399px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%; /* 48.382px */
    margin-bottom: 0px;
}
.part11 p{
    width: 449px;
    color: #424242;
    font-family: Poppins;
    font-size: 16.67px;
    font-style: normal;
    font-weight: 500;
    line-height: 126%; /* 21.004px */
    letter-spacing: 0.5px;
}
.p11img{
    border-radius: 10px;
}
.part12{
    
}
.part12 h5{
    width: 582px;
    height: 54px;
    flex-shrink: 0;color: #000;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}
.part12 p{
    width: 601px;
    color: #393939;
    text-align: center;
    font-family: Roboto;
    font-size: 16.67px;
    font-style: normal;
    font-weight: 500;
    line-height: 148.2%; /* 24.705px */
    letter-spacing: 0.5px;
}